# ============================================
# NYXUS — NYXUS Live ISO
# Copyright © 2026 Joseph A. Sierengowski
# All Rights Reserved
# NYX-J5W-2026-SIERENGOWSKI-LOCKED
# ============================================
DEFAULT nyx
PROMPT 0
TIMEOUT 30

LABEL nyx
    MENU LABEL Boot NYXUS (NYX live)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=NYXUS_2026_07 quiet splash

LABEL nyx_safe
    MENU LABEL Boot NYXUS (safe / no KMS)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=NYXUS_2026_07 nomodeset
