# ============================================
# NYXUS — nyx-2026.05.11-x86_64.iso
# Copyright © 2026 Joseph Sierengowski
# All Rights Reserved
# NYX-J5W-2026-SIERENGOWSKI-LOCKED
# ============================================
DEFAULT nyx
PROMPT 0
TIMEOUT 30

LABEL nyx
    MENU LABEL Boot NYXUS (NYX live)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=NYX_2026_05 quiet splash

LABEL nyx_safe
    MENU LABEL Boot NYXUS (safe / no KMS)
    LINUX /arch/boot/x86_64/vmlinuz-linux
    INITRD /arch/boot/intel-ucode.img,/arch/boot/amd-ucode.img,/arch/boot/x86_64/initramfs-linux.img
    APPEND archisobasedir=arch archisolabel=NYX_2026_05 nomodeset
