[Desktop Entry]
Type=Application
Name=NYXUS Error Reporter
GenericName=Error Reporter
Comment=Centralised error log viewer
Exec=/usr/local/bin/nyxus error
TryExec=/usr/local/bin/nyxus
Icon=dialog-error
Terminal=false
Categories=System;
Keywords=NYXUS;NYX;Reporter;
StartupNotify=true
StartupWMClass=nyxus.error
X-NYXUS-Module=nyxus_error
