[Desktop Entry]
Name=NYXUS (Hyprland)
Comment=NYXUS Silent Dark Desktop
Exec=nyxus-session-start
Type=Application
DesktopNames=Hyprland
Keywords=nyxus;tiling;wayland;compositor;
