<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<!-- NYXUS Account polkit policy   rev 2026-05-13 r1 -->
<policyconfig>
  <vendor>NYXUS</vendor>
  <vendor_url>https://nyxus.os</vendor_url>
  <icon_name>user-info</icon_name>
  <action id="com.nyxus.account.helper">
    <description>NYXUS Account privileged action</description>
    <message>NYXUS Account needs administrator access to change account settings.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/nyxus-account-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
