# ============================================
# NYXUS — nyx-2026.05.02-x86_64.iso
# Copyright © 2026 Joseph Sierengowski
# All Rights Reserved
# NYX-J5W-2026-SIERENGOWSKI-LOCKED
# ============================================
set default="0"
set timeout=3

insmod all_video
insmod gfxterm
terminal_output gfxterm

menuentry "Boot NYXUS (NYX live)" --class nyxus --class arch {
    set gfxpayload=keep
    linux  /arch/boot/x86_64/vmlinuz-linux  archisobasedir=arch archisolabel=NYX_2026_05 quiet splash
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Boot NYXUS (safe / no KMS)" --class nyxus --class arch {
    set gfxpayload=keep
    linux  /arch/boot/x86_64/vmlinuz-linux  archisobasedir=arch archisolabel=NYX_2026_05 nomodeset
    initrd /arch/boot/intel-ucode.img /arch/boot/amd-ucode.img /arch/boot/x86_64/initramfs-linux.img
}

menuentry "UEFI Shell"             { chainloader /shellx64.efi }
menuentry "Reboot"                 { reboot }
menuentry "Power off"              { halt }
