[Desktop Entry]
Type=Application
Version=1.0
Name=Install NYXUS
GenericName=System Installer
Comment=Install NYXUS to the hard drive
Exec=pkexec calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;setup;system;nyxus;
