[Desktop Entry]
Type=Application
Version=1.5
Name=Install NYXUS
GenericName=System Installer
Comment=Install NYXUS · DARK MIRROR onto this computer
TryExec=calamares
Exec=pkexec calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;install;setup;
NoDisplay=false
X-AppStream-Ignore=true
