[Desktop Entry]
Type=Application
Name=NYXUS Notepad
GenericName=Notepad
Comment=Quick text editor with autosave
Exec=/usr/local/bin/nyxus notepad
TryExec=/usr/local/bin/nyxus
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;
Keywords=NYXUS;NYX;Notepad;
StartupNotify=true
StartupWMClass=nyxus.notepad
X-NYXUS-Module=nyxus_notepad
