configuration {
    modi:                "drun,run,window";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    display-drun:        " Apps";
    display-run:         " Run";
    display-window:      " Windows";
    drun-display-format: "{name}";
    font:                "JetBrains Mono Nerd Font 12";
    terminal:            "alacritty";
    case-sensitive:      false;
    cycle:               true;
}

@theme "nyxus"
